{%- if theme.algolia_search.enable %}
  {% include 'algolia-search.njk' %}
{% elif theme.swiftype_key %}
  {% include 'swiftype.njk' %}
{% elif theme.local_search.enable %}
  {% include 'localsearch.njk' %}
{%- endif %}
